@import '../_variables.scss';

.about_page {
  background-color: $white-color;

  &__header {
    max-width: 980px;
    padding: 2rem 1rem;
    margin: auto;

    &__title {
      font-size: 2rem;
      color: $tertiary-color;
      border-bottom: 2px solid $secondary-color;
      padding-bottom: 1rem;
      width: auto;
      display: inline-block;
    }
    &__logo {
      position: fixed;
      top: 0;
      right: 1rem;
    }
  }

  &__body {
    max-width: 980px;
    padding: 2rem 1rem;
    margin: auto;
  }

  &__layover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $tertiary-color;
  }
}