$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl:1200px
) !default;

@mixin down-breakpoint($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media only screen and (max-width : map-get($grid-breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @error "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Available breakpoints are: #{map-keys($grid-breakpoints)}.";
  }
}

@mixin up-breakpoint($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media only screen and (min-width : map-get($grid-breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @error "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Available breakpoints are: #{map-keys($grid-breakpoints)}.";
  }
}

@mixin between-breakpoints($initial-breakpoint, $final-breakpoint) {
  @if (
    $initial-breakpoint
    and $final-breakpoint
    and map-has-key($grid-breakpoints, $initial-breakpoint)
    and map-has-key($grid-breakpoints, $final-breakpoint)
  ) {
    $b1: map-get($grid-breakpoints, $initial-breakpoint);
    $b2: map-get($grid-breakpoints, $final-breakpoint);

    @media only screen and (min-width : $b1) and (max-width : $b2) {
      @content;
    }
  }

  @else {
    @error "You need to define valid initial and final breakpoints. Available breakpoints are: #{map-keys($grid-breakpoints)}.";
  }
}