@import '../_variables.scss';

.button {
  background: none;
  border: none;
  font-size: 14px; 
  cursor: pointer;
  padding: 8px 0;
  position: relative;

  &:before {
    content: '';
    height: 2px;
    width: 0%;
    background: $primary-color;
    position: absolute;
    bottom: 0;
    transition: width 0.4s ease;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }

  &.--primary {
    color: $primary-color;
  }

  &.--secondary {
    color: $secondary-color;
  }
}