@import '../_variables.scss';

.content_block {
  padding: 0 0 1rem 0;

  &__text {
    font-family: $caslon;
    font-weight: normal;
    color: $secondary-color;
    font-size: 1.2rem;
    line-height: 1.6rem;

    p {
      margin: 1rem 0;
    }
  }

  &__image {
    display: block;
    text-align: center;
  }
}