@import '../_variables.scss';
@import '../mixins/breakpoints.scss';

.project_details {
  background-color: $white-color;
}

.project_head {
  background-color: $secondary-color;
  height: 280px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid $white-color;
  padding: 26px 0;
  position: relative;
  background-size: cover;
  background-position: center;

  &__expander {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:hover &__icon {
      width: 26px;
      height: 26px;
    }

    &__icon {
      border: none;
      width: 20px;    
      height: 20px;    
      position: absolute;
      right: 10px;
      top: 10px;
      transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  
      &__a, &__b {
        &:after, &:before {
          content: "";
          position: absolute;
          height: 25%;
          width: 25%;
        }
      }
  
      &__a:after {
        top: 0;
        left: 0;
        border-top: 2px solid $white-color;
        border-left: 2px solid $white-color;
      }
      &__a::before {
        top: 0;
        right: 0;
        border-top: 2px solid $white-color;
        border-right: 2px solid $white-color;
      }
      &__b:after {
        bottom: 0;
        left: 0;
        border-bottom: 2px solid $white-color;
        border-left: 2px solid $white-color;
      }
      &__b::before {
        bottom: 0;
        right: 0;
        border-bottom: 2px solid $white-color;
        border-right: 2px solid $white-color;
      }
    }  
  }

  &__box {
    background-color: $white-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    padding: 1rem;

    &__title {
      font-family: $caslon;
      font-weight: normal;
      color: $secondary-color;
      margin: 0;
      font-size: 30px;
      
      @include up-breakpoint(sm) {
        font-size: 48px;
      }
    }

    &__category {
      color: $tertiary-color;
      margin: 0;
      font-size: 12px;
      
      @include up-breakpoint(sm) {
        font-size: 14px;
      }
    }
  }
}

.project_body {
  max-width: 980px;
  padding: 2rem 1rem;
  margin: auto;
  padding-bottom: 4rem;
}